* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
}

